<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >

    {% block 'titulo' %} {% endblock %}
  </head>
  <body>
     <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">StreetOnline</a>
       {% if usuario_logado %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
               Cadastrar
          </button>

          <a href="{% url 'sair' %}" class="btn btn-danger">Sair</a>
       {% endif %}

     </nav>
  {% block 'conteudo' %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>

    {% if usuario_logado %}
          <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <button style="margin-left: 15px;" onclick="mostrar_form(1)" class="btn btn-info">Categoria</button>
                  <button style="margin-left: 15px;" onclick="mostrar_form(2)" class="btn btn-info">Livro</button>
                  <button style="margin-left: 15px;" onclick="mostrar_form(3)" class="btn btn-info">Emprestimo</button>
                  <br>
                  <hr>
                 <!-- esta é uma forma de fazer a tela de cadastro usando modal.Models -->

                  <div style="Display:none;" id="livro">
                    <form action="{% url 'cadastrar_livro' %}" method="POST">
                        {% csrf_token %}
                        <table>
                            {{form.as_table}}
                        </table>
                        <input type="submit" class="btn btn-success">
                    </form>
                  </div>

                  <!-- este ja outro forma de fazer a tela de cadastro usando forms.Form -->

                  <div style="Display:none;" id="categoria">
                      <form action="{% url 'cadastrar_categoria' %}" method="POST"> {% csrf_token %}
                          <table>
                              {{form_categoria.as_table}}
                          </table>
                          <input type="hidden" name="usuario" value="{{usario_logado}}">
                          <input type="submit" class="btn btn-success">
                      </form>
                  </div>

                  <!-- mais um jeito de fazer formulario -->
                  <div style="Display:none;" id="emprestimos">
                      <button onclick="exibir_input_emprestado(1)" type="button" class="btn btn-warning">Novo Usuário</button>
                      <button onclick="exibir_input_emprestado(2)" type="button" class="btn btn-dark">Usuário Existente</button>
                      <br>
                      <br>

                      <form id="form_emprestimo" action="{% url 'cadastrar_emprestimo' %}" method="POST">{% csrf_token%}

                          <h4><label>Usuário:</label></h4>
                          <select style="display:none;" id="nome_emprestado" class="form-control" name="nome_emprestado">


                              {% for var_usuario in var_usuario %}
                                    <option value="{var_usuario.id}">{{var_usuario.nome}}</option>
                              {% endfor %}

                          </select>

                          <br>
                           <h4><label>Usuário sem cadastro:</label></h4>
                            <input style="display:none;" id="nome_emprestado_anonimo" type="text" placeholder="Digite a pessoa para emprestar..." name="nome_emprestado_anonimo" class="form-control">

                           <br>

                           <h4><label>Livro:</label></h4>
                          <select class="form-control" name="livro_emprestado">

                              {% for livro in livros %}
                                    <option value="{livro.id}">{{livro.nome}}</option>
                              {% endfor %}

                          </select>

                          <br>


                          <input type="submit" class="btn btn-success">
                      </form>

                  </div>
              </div>
            </div>
          </div>
        </div>
    {% endif %}


      <script>
        function mostrar_form(v1){
            categorio = document.getElementById("categoria")
            livro = document.getElementById("livro")
            emprestimos = document.getElementById("emprestimos")

            if(v1 == 1){
                categoria.style.display = 'block';
                livro.style.display = 'none';
                emprestimos.style.display = 'none';
            }else if(v1 == 2){
                livro.style.display = 'block';
                categoria.style.display = 'none';
                emprestimos.style.display = 'none';
            }else if(v1 == 3){
                emprestimos.style.display = 'block';
                livro.style.display = 'none';
                categoria.style.display = 'none';
            }
        }

        function exibir_input_emprestado(v1){

          if(v1 == 1){
            document.getElementById('nome_emprestado').style.display="none"
            document.getElementById('name_emprestado_anonimo').style.display="block"
          }else{
            document.getElementById('nome_emprestado').style.display="block"
            document.getElementById('name_emprestado_anonimo').style.display="none"

          }
        }

      </script>
  </body>
</html>