{% extends 'base.html' %}

{% block 'conteudo' %}

<div class="container">
    <br>
	{% if status == '0' %}
		<div class="alert alert-success" role="alert">
		  Cadastro realizado com sucesso!
		</div>
	{% endif %}

	{% if status == '1' %}
		<div class="alert alert-danger" role="alert">
		  O Nome e Email não pode ser vazio!
		</div>
	{% endif %}

	{% if status == '2' %}
		<div class="alert alert-danger" role="alert">
			  A Senha não pode ser menor que 8 digitos!
		</div>
	{% endif %}

	{% if status == '3' %}
		<div class="alert alert-danger" role="alert">
			  Usuario já existe!
		</div>
	{% endif %}

	{% if status == '4' %}
		<div class="alert alert-danger" role="alert">
		  Erro interno do sistema!
		</div>
	{% endif %}

    <div class="row">

        <div class="col-md-3">

        </div>

        <div class="col-md-3">
            <h1>Cadastre-se</h1>
            <hr>

            <form method="POST" action="{% url 'valida_cadastro' %}">{% csrf_token %}
                <label>Nome</label>
                <input name="nome" class="form-control" type="text" placeholder="Nome...">
                <br>
                <label>Email</label>
                <input name="email" class="form-control" type="text" placeholder="Email...">
                <br>
                <label>Senha</label>
                <input name="senha" class="form-control" type="password" placeholder="Senha...">
                <br>
                <input class="btn btn-success" type="submit" value="Enviar">
				<a href="{% url 'login' %}" class="btn btn-warning">Login</a>
            </form>
        </div>

        <div class="col-md-3">

        </div>

    </div>

</div>

{% endblock %}