{% extends 'base.html' %}

{% block 'conteudo' %}
<br>
<br>
<div class="container">
	{% if status_categoria == '1' %}
		<div class="alert alert-success" role="alert">
		  Cadastro realizado com sucesso!
		</div>
	{% endif %}
	<div class="row">
		{% for livro in livros %}
			<div class="col-md">
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
					  <img width="100%" src="{{livro.img.url}}">
					<h5 class="card-title">{{livro.nome}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">Autor: {{livro.autor}}</h6>
					<h6 class="card-subtitle mb-2 text-muted">Data cadastro: {{livro.data_cadastro}}</h6>
					<p class="card-text">Categoria: {{livro.categoria}}</p>
	 			    Emprestado

					{% if livro.emprestado %}
					  <svg style color="green" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
  							<path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
					  </svg>
					{% else %}
					  <svg style color="red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
						  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
						  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
					  </svg>
					{% endif %}
					  <br>
					  <br>
					  <a href="{% url 'ver_livros' livro.id %}" class="btn btn-info">Detalhes</a>
				  </div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}